# Ignore Visual Studio files and folders
.vs/
*.user
*.suo

# Ignore build outputs
bin/
obj/

# Ignore NuGet packages
packages/

# Ignore other temporary files
*.log

# Ignore database files
*.mdf
*.ldf

# Ignore everything in the App_Data folder
InventoryManagementSystem1/App_Data/

